* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 233, 233);
    /* max-width: 2400px; */
    margin: 0 auto;
}

nav {
    position: fixed;
    color: rgb(255, 57, 8);
    background: rgba(254, 253, 255, 0.143);
    font-size: 3rem;
    font-weight: bold;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav .icon {
    margin-left: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li a {
    font-size: 1.2rem;
    margin: 1rem 2rem;
    text-decoration: none;
    color: rgb(25, 24, 24);
    z-index: 5;
}

nav ul li a:hover {
    color: rgb(255, 218, 8);
    text-decoration: none;
}

.carousel-inner .headpara {
    z-index: 2;
    position: absolute;
    background: none;
    display: inline-block;
    margin: 15.5% 45% 17% 20%;
}

.carousel-inner .headpara h1 {
    color: whitesmoke;
    text-align: left;
}

.carousel-inner .headpara p {
    text-align: left;
    color: whitesmoke;
    margin-right: 4rem;
}

.carousel-inner .headpara button {
    height: 3rem;
    width: 30%;
    font-size: 1rem;
    background-color: rgb(255, 198, 40);
    z-index: 5;
    opacity: 1;
    font-weight: 700;
    padding: 5px;
}

.carousel-inner .headpara button:hover {
    background-color: rgb(110, 2, 110);
    color: rgb(240, 233, 233);
}

.carousel-indicators [data-bs-target] {
    border-radius: 56%;
    height: 10px;
    width: 10px;
    margin: 0.3rem;
}

.carousel-indicators {
    justify-content: left;
    margin-left: 20%;
}


/* Section Welcome */

.heading {
    text-align: center;
    margin: 2rem;
}

.heading h1 {
    font-weight: 650;
    font-size: 3rem;
}

.sec {
    margin: 0% 20%;
    /* border:  2px solid black; */
}

.main-para {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-para .para {
    text-align: left;
    margin-right: 23%;
    font-size: 1.5rem;
}

.main-para-icon {
    font-size: 8rem;
    margin-left: -15%;
}

.icons {
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: row;
}

.icon-s {
    padding: 25px 12px;
}

.icon-in {
    text-align: center;
    font-size: 200%;
    background-color: rgb(145, 8, 145);
    cursor: pointer;
    width: 6.5rem;
    height: 6rem;
    border-radius: 100%;
    margin: auto;
    padding: 1rem;
}

.icons-heading {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(110, 2, 110);
}

.icon-para {
    /* border:  2px solid black; */
    padding: 0rem 1rem;
    text-align: center;
    margin: 0rem 2rem 0rem 2rem;
}

.btn-icon {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.icon-btn {
    background-color: rgb(255, 198, 40);
    font-size: 1rem;
    padding: 0.25rem 1.2rem;
    font-weight: bold;
}

.icon-btn:hover {
    background-color: rgb(110, 2, 110);
    color: white;
}


/* Projects */

.projects ul {
    padding-bottom: 1.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.h-secondary {
    text-align: left;
    margin-top: 1rem;
    padding: 2rem;
    padding-bottom: 0rem;
}

.project-heading {
    margin: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.project-para {
    margin: 0rem 2rem;
}

.project-button {
    margin: 1rem 2rem;
    width: 8rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 1.15rem;
}

.pro-item:nth-child(odd) {
    background-color: rgb(255, 194, 159);
}

.pro-item:nth-child(even) {
    background-color: rgb(255, 211, 200);
}

.project-button:hover {
    background-color: purple;
    color: rgb(240, 233, 233);
}

.pro-item:hover {
    cursor: pointer;
    background: linear-gradient(240deg, transparent, rgb(255, 219, 16))top;
}

.pricingtable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
}

.plans {
    padding: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 2px solid black;
}

.plans:last-child {
    border: none;
}

.ul-class {
    padding: 0rem 2rem 0rem 2rem;
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ul-class .item {
    text-decoration: none;
    display: block;
    margin: auto;
    padding: 0.2rem;
    font-size: 1.2rem;
}

.h3-head {
    padding: 0rem 2rem 0rem 2rem;
}

.pri-btn {
    background-color: rgb(253, 214, 86);
    display: block;
    margin: auto;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 12%;
}

.pri-btn:hover {
    background-color: purple;
    color: rgb(240, 233, 233);
}


/* Video Projects */

.video {
    width: 100%;
    height: 80vh;
    margin-top: 2rem;
    border: 2px solid transparent;
    background-color: rgb(92, 10, 92);
}

.videoo {
    display: flex;
    overflow-x: auto;
    white-space: no-wrap;
}

.videoo::-webkit-scrollbar {
    display: none;
}

.vid {
    margin: 20px 40px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Zipppy Team */

.team-box {
    margin: 1rem 4rem;
    display: flex;
    justify-content: center;
}

.team img {
    position: relative;
    margin: 1rem 2rem;
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
}

.contact-team {
    text-align: center;
}

.link-button {
    font-size: 1.5rem;
    padding: 2px 5px;
}

.teamname {
    text-align: center;
    font-size: 1.2rem;
}


/* Life */

.h1-class {
    text-align: center;
    margin: 2rem;
    font-weight: bold;
    font-size: 3rem;
    /* background-color: #717171; */
}

.container1 {
    margin: 1rem 5rem 1rem 5rem;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container1 ul {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.container1 ul li {
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

.container1 ul li img {
    width: 200px;
    transition: all 0.3s;
}

.container1 ul li img:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: 100%;
}


/* Newsletter SignUp */

.newsletter::before {
    content: "";
    position: absolute;
    background: url('./img/news.jpg');
    width: 100%;
    height: 13.1rem;
    z-index: -5;
    opacity: 0.9;
    background-repeat: no-repeat;
}

.newsletter .h1-class {
    color: rgb(240, 233, 233);
    padding-top: 1rem;
}

.news-box {
    margin: auto;
    width: 50rem;
    margin-bottom: 8rem;
}

.news-box form {
    display: flex;
    justify-content: center;
}

.news-box form input {
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    width: 30rem;
    height: 3rem;
    font-weight: normal;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(240, 233, 233);
    border: none;
    outline: none;
}

.news-box form button {
    width: 7rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(253, 214, 86);
}

.news-box form button:hover {
    background-color: rgb(85, 0, 85);
    color: white;
}


/* Blog */

.blog-items {
    margin: 8rem;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 3rem;
}

.blog-item {
    margin: 2rem;
}

.blog-item img {
    display: block;
    margin: auto;
    width: 12rem;
    height: 8rem;
    margin-bottom: 3rem;
}

.blog-item h4,
h6,
p {
    text-align: center;
    margin: 1rem;
}

.blog-item button {
    display: block;
    margin: auto;
    height: 3rem;
    width: 8rem;
    background-color: rgb(196, 192, 192);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.2rem 0.3rem;
}

.blog-item button:hover {
    background-color: rgb(255, 176, 7);
}


/* Contact Us */

.contact {
    margin: 7rem;
    margin-top: 0;
}

.contact-main {
    display: flex;
    margin-top: 0rem;
}

.contact-main .left {
    width: 50%;
    height: 46rem;
}

.contact-main .left img {
    width: 100%;
    height: 100%;
}

.contact-main .right {
    width: 50%;
    flex-direction: row-reverse;
    height: 46rem;
    background-color: rgb(255, 237, 76);
}

#contact-box {
    display: block;
    margin: 1rem 3rem;
}

.contact h1 {
    margin-left: 0;
    font-size: 3rem;
    font-weight: bold;
}

#contact-box input,
#contact-box textarea {
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 10px;
    outline: none;
}

.contact form label,
input,
textarea {
    display: block;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
}

textarea {
    height: 9rem;
}

.contact form button {
    margin-top: 1.5rem;
    width: 80%;
    height: 3rem;
    background-color: rgb(110, 2, 110);
    color: rgb(240, 233, 233);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
}

.contact form button:hover {
    color: rgb(255, 176, 7);
}

.footer-boxes {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    padding-bottom: 1rem;
}

.footer-box {
    color: rgb(240, 233, 233);
    margin: 3rem;
    margin-bottom: 0;
}

.footer-box h5 {
    color: rgb(240, 233, 233);
    text-align: center;
    margin-bottom: 2rem;
}

.footer-box p {
    color: rgb(240, 233, 233);
    margin: 0;
    margin-top: 0.1rem;
}

.footer-box .fab {
    font-size: 2rem;
    margin: 0.2rem;
    color: rgb(240, 233, 233);
}

.footer-box .text-center {
    color: rgb(240, 233, 233);
}